.video-container {
    position: relative;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 
        0 0 50px rgba(78, 39, 11, 0.9),
        inset 0 0 100px rgba(0, 0, 0, 0.7);
    margin: 4rem 0;
    border: 10px solid #442d17;
    outline: 5px solid #DAA520;
}

#video {
    width: 100%;
    height: auto;
    display: block;
}

.custom-controls {
    background: url('kepek/wood.jpg') center/cover;
    background-color: #442d17;
    padding: 2.5rem 2rem;
    border: 12px solid #442d17;
    border-top: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 
        0 25px 50px rgba(0, 0, 0, 0.9),
        inset 0 15px 30px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

.control-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.5fr));
    gap: 1.5rem;
    padding: 1rem;
    justify-items: center;
}

.custom-controls button {
    width: 68px;
    height: 68px;
    border: 4px solid #442d17;
    border-radius: 14px;
    background: url('kepek/oldpaper.jpg') center/cover, #1a0f00;
    color: #000;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-controls button:hover {
    background: linear-gradient(145deg, #FFF8E1, #E6C070);
}

.custom-controls button span.material-symbols-outlined {
    font-size: 2.4rem;
    margin-bottom: 4px;
}